.profile__subtitle {
    min-height: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: span 2;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        min-height: 14px;
    }
}