.popup__button-close {
    background: #FFFFFF;
    height: 35px; 
    width: 5px;
    position: absolute; 
    left: 100px;
    border: none;
    box-sizing: border-box;
    padding: 0;
    transform: rotate(45deg);
    top: -35px;
    left: 443px;
    cursor: pointer;
}
.popup__button-close:after {
    content: "";
    height: 5px; 
    width: 35px;
    background: #FFFFFF;
    position: absolute; 
    left: -15px; 
    top: 15px;
    cursor: pointer;
}

.popup__button-close:hover {
    transition: opacity 0.3s linear;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 3px;
        height: 20px;
        top: -17px;
        left: 287px;
    }
    .popup__button-close:after {
        content: "";
        height: 3px; 
        width: 20px;
        left: -9px; 
        top: 9px;
    }
}