.popup__button-close {
    width: 40px;
    height: 40px;
    background-image: url(../../../images/add.svg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    transform: rotate(45deg);
    padding: 0;
    position: absolute;
    top: -35px;
    right: -35px;
}

.popup__button-close:hover {
    transition: opacity 0.3s linear;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        top: -17px;
        right: -17px;
    }
}